.cmp-list-widget {
  width: 70%;
  margin: 50px auto;

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      box-shadow: 1px 1px 7px #ccc;
      margin: 10px;
      cursor: pointer;

      &:hover {
        box-shadow: 1px 1px 7px #6b90d9;
        transform: scale(1.1);
      }

      &.active {
        box-shadow: 1px 1px 7px lightcoral;
        transform: scale(1.1);
      }
    }
  }

  h3 {
    font-size: 19px;
    margin: 10px 0;
    color: #333;
  }
}
