@import '../../../assets/styles/mixin.scss';

.cmp-list-widget {
  margin: 25px;

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    > li {
      img {
        box-shadow: 1px 1px 7px #ccc;
        margin: 10px;
      }

      > img {
        cursor: pointer;

        &:hover {
          box-shadow: 1px 1px 7px #6b90d9;
          transform: scale(1.1);
        }
      }

      ol {
        display: inline-flex;
        vertical-align: top;
      }

      &:nth-child(6) {
        img {
          @extend .disabled;
        }
      }
    }
  }
}
